<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reçete Takip Sistemi Ana Sayfa</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <script src="js/chatbox.js" defer></script>
    <link rel="stylesheet" href="styles/chatbox.css">
</head>

<body>
<!-- chatbox -->
<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
    <header>
        <h2>Sağlık Asistanım</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Merhaba 👋<br>Nasıl yardımcı olabilirim?</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Mesaj yazın..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
</div>
<!-- chatbox -->
<nav id="sidebar" class="sidebar close">
    <div class="close1">
        <i class="fa-solid fa-x" id="x" onclick="close1()"></i>
    </div>
    <header>
        <div class="image-text">
            <div class="text logo-text">
                <span class="loggedInUser"></span>
                <span class="clinicName"></span>
            </div>
        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="index.html">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Ana Sayfa</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="receteOlustur.html">
                        <i class="icon fa-solid fa-pen-to-square"></i>

                        <span class="text nav-text">Reçete Oluştur</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="receteSorgula.html">
                        <i class="icon fa-solid fa-magnifying-glass"></i>
                        <span class="text nav-text">Reçete Sorgula</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="randevuAl.html">
                        <i class="icon fa-solid fa-calendar-days"></i>
                        <span class="text nav-text">Randevu Al</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="randevuSorgula.html">
                        <i class="icon fa-solid fa-magnifying-glass"></i>
                        <span class="text nav-text">Randevu Sorgula</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="ilacListesi.html">
                        <i class="icon fa-solid fa-list"></i>
                        <span class="text nav-text">İlaç Listesi</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="raporOlustur.html">
                        <i class="icon fa-solid fa-paperclip"></i>
                        <span class="text nav-text">Rapor Oluştur</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="raporSorgula.html">
                        <i class="icon fa-solid fa-magnifying-glass"></i>
                        <span class="text nav-text">Rapor Sorgula</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Çıkış yap</span>
                    </a>
                </li>


            </ul>
        </div>

    </div>

</nav>

<section class="home">
    <div class="main-header">
        <i class="fa-solid fa-bars" id="hamburger" onclick="open1()"></i>
        <div class="headertext">
            <img src="images/logo.png" alt="">
            <h1>Reçete Takip Sistemi Ana Sayfa</h1>
        </div>
    </div>


    <div class="main">
        <div class="sitePromotion">
            <h3>Reçete Takip Sistemi - Sürüm : v1</h3>
            <br>
            <p>Hoş geldiniz!<br><br>Reçete Takip Sistemi, sağlık hizmetlerine ulaşmak, daha etkin ve güvenli bir şekilde yönetmek için tasarlanmış bir platformdur.
                Sağlık sektöründeki teknolojik gelişmeleri kullanarak, hem hastalar hem de sağlık profesyonelleri için pratik ve güvenilir bir yapı sağlamaktadır.
                RTS' nin temel hedefi hastanelerde muayene öncesi bekleme süresini ortadan kaldırıp, hastane ve poliklinik önlerindeki kalabalıkları azaltarak
                herkes için daha sakin ve huzurlu bir ortam sağlanmasıdır. Amaç vatandaşların kendi zamanlarını doğru yönetmeleridir. Hastanelerde kaynak kullanım
                ve dağıtımının ölçülmesi suretiyle sağlık hizmetlerinde verim ve kalitesinin artırılmasıyla RTS verileri sayesinde sağlık politikalarının
                geliştirilmesine yardımcı olmaktır. Hastanelerdeki hekim iş gücünün etkin kullanımını sağlamaktır.
            </p>
        </div>

        <br><br>

        <div class="siteMap">
            <hr>
            <a href="/receteOlustur">Reçete Oluştur Sayfası : </a>
            <p>Bu sayfada, hastalar tarafından oluşturulan randevular üzerinden hekimlerin reçete oluşturmasına olanak sağlanmaktadır.</p>
            <br>
            <hr>
            <a onclick="" href="/receteSorgula">Reçete Sorgula Sayfası : </a>
            <p>Bu sayfada, Reçete Oluştur sayfasında kaydedilen reçeteler hastalar veya hekimler tarafından kontrol edilmek üzere saklanır.</p>
            <br>
            <hr>
            <a href="/randevuAl.html">Randevu Al Sayfası : </a>
            <p>Bu sayfada, hastalar tarih, saat, aile hekimi veya klinik, doktor seçebilir, şikayetini yazarak kolay bir şekilde randevu alabilmektedir.</p>
            <br>
            <hr>
            <a href="/randevuSorgula.html">Randevu Sorgula Sayfası : </a>
            <p>Bu sayfada, randevu numarası, randevu günü, klinik adı veya hasta adına göre alınan randevular kolay bir şekilde sorgulanabilir.</p>
            <br>
            <hr>
            <a href="/ilacListesi.html">İlaç Listesi Sayfası : </a>
            <p>Bu sayfada, veritabanında kayıtlı olan bütün ilaçların bilgileri bulunmakta ve ilaç adına göre arama/sorgulaması yapılabilmektedir.</p>
            <br>
            <hr>
            <a href="/raporOlustur.html">Rapor Oluştur Sayfası : </a>
            <p>Bu sayfada, hekimler tarafından hatalı oluşturulan reçeteler saklanmaktadır. Bu reçeteler incelenip hakkında bildiri yapılabilmektedir.</p>
            <br>
            <hr>
            <a href="/raporSorgula.html">Rapor Sorgula Sayfası : </a>
            <p>Bu sayfada, bildirilen raporlar saklanmaktadır. Raporlanan doktor adı, tarih, reçete veya rapor numarasına göre sorgu yapılabilmektedir.</p>
            <hr>
        </div>

        <br><br>

        <div class="releaseNote">
            <h3>Sürüm Değişiklikleri</h3>
            <br>
            <p>Değişiklikler.</p>
        </div>
    </div>
    <!-- Kodun yazılacağı yer -->

</section>
<script src="js/menu.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var loggedInUser = /*[[${personelNameSurname}]]*/ '';
var clinicName = /*[[${clinicName}]]*/ '';

document.querySelector(".loggedInUser").innerText = loggedInUser;
document.querySelector(".clinicName").innerText = clinicName; // Tırnak hatası burada
/*]]>*/
</script>

</body>

</html>